.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flexContainer {
  display : flex;
  flex-direction: row;
  justify-content: center;
}


.product-list {

  align-items: center;


}

.cart-item {
  margin-right: 50px;

}

.header-title {
  margin-bottom: 100px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
